@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  margin: 0;
  overflow: hidden;
}

.ocean {
  height: calc(50vh - 198px);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffffff;
  transition: all 2s;
}

.ocean.panel-open {
    bottom: -200px;
  }

.ocean .wave {
    background: url(/img/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    filter: saturate(0) brightness(1000%);
    opacity: 1;
  }

.ocean .wave:nth-of-type(2) {
      animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 8s ease -1.25s infinite;
    }

.ocean .wave:nth-of-type(3) {
      animation: wave 8s cubic-bezier(0.75, 0.5, 0.5, 0.75) -0.125s infinite, swell-2 8s ease -1.25s infinite;
      opacity: 0.5;
    }

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: scaleY(0.95);
    top: calc(-198px + 9.9px);
  }
  50% {
    transform: scaleY(1.05);
    top: calc(-198px - 9.9px);
  }
}

@keyframes swell-2 {
  0%, 100% {
    transform: scaleY(0.95);
    top: calc(-198px + 9.9px);
  }
  50% {
    transform: scaleY(1.05);
    top: calc(-198px - 9.9px);
  }
}

h1,
a,
p {
  font-family: 'Raleway', sans-serif;
  user-select: none;
}

.jp {
  font-family: 'Noto Sans Japanese', sans-serif;
}

li > a {
  font-size: 18px;
}

ul {
  list-style: none;
  display: grid;
  padding: 0;
  place-content: center;
}

.header {
  display: grid;
  background: #4285f4;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  place-content: center;
  transition: background 0.5s;
}

.header-elements {
  pointer-events: none;
  transition: transform 0.5s;
  display: grid;
  place-content: center;
  animation: bob 8s infinite -3s cubic-bezier(0.45, 0, 0.55, 1);
  perspective: 1500px;
}

.header-elements .header-inner {
    transition: transform 0.5s, background 0.5s;
    pointer-events: initial;
    padding: 40px;
    border-radius: 35px;
  }

.header-elements.panel-open {
    transition: transform 0.5s, filter 0.5s, background 0.2s;
  }

.header-elements.panel-open .header-inner {
      transform: translateX(-80%) rotateY(30deg);
    }

.header-elements.panel-open #list li {
      
    }

.header-elements:not(.panel-open) .header-inner {
      background: #ffffff30;
      padding: 40px;
    }

.header-elements:not(.panel-open) #list li {
      transform: translateY(6px);
      transition: transform 0.5s, filter 0.5s, background 0.2s;
    }

.header-elements:not(.panel-open) #list li a {
        transition: font-size 0.5s, background 0.3s;
        background-image: linear-gradient(to bottom right, white 49.5%, #00000000 50%);
        background-size: 200% 200%;
        background-position: bottom right;
        animation-fill-mode: forwards;
      }

.header-elements:not(.panel-open) #list li a::before {
          transition: font-size 0.5s, transform 0.2s, filter 0.2s;
        }

.header-elements:not(.panel-open) #list li a:hover {
          background-position: top left;
          transform: translateX(-10px);
          filter: drop-shadow(2px 2px 1px #00000040);
          font-weight: bold;
        }

.header-elements #list li {
    transition: transform 0.5s, filter 0.5s, background 0.2s;
    padding: 8px 15px;
    margin: 3px 0;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-delay: -2s;
  }

.header-elements #list li:first-child {
      animation-name: bob-1;
    }

.header-elements #list li:nth-child(2) {
      animation-name: bob-2;
    }

.header-elements #list li:nth-child(3) {
      animation-name: bob-3;
    }

.header-elements #list li:nth-child(4) {
      animation-name: bob-4;
    }

.header-elements #list li:nth-child(5) {
      animation-name: bob-5;
    }

.header-elements #list li:nth-child(6) {
      animation-name: bob-6;
    }

.header-elements #list li #senior-design::before {
      content: "Senior Design";
    }

.header-elements #list li #cyplanner::before,
    .header-elements #list li #magic-tower::before,
    .header-elements #list li #Project3::before {
      content: "Project";
    }

.header-elements #list li #ethics::before,
    .header-elements #list li #about-me::before {
      content: "Other";
    }

.header-elements #list li a::before {
      transition: transform 0.5s, font-size 0.5s;
      display: block;
      position: absolute;
      transform: translate(-100%, 8%);
      font-family: 'Raleway';
      user-select: none;
      font-size: 16px;
      font-weight: bold;
    }

.header-elements #list li a {
      transition: font-size 0.5s, filter 0.5s;
      padding: 8px 15px;
      border-radius: 50em;
      background-image: linear-gradient(to bottom right, white 49.5%, #00000000 50%);
      background-size: 200% 200%;
      background-position: bottom right;
      animation-fill-mode: forwards;
    }

.header-elements #list li a::before {
        transition: font-size 0.5s, filter 0.5s, transform 0.2s;
      }

.header-elements #list li a.active {
        filter: drop-shadow(2px 2px 1px #00000040);
        font-size: 32px;
        background: white;
        font-weight: bold;
      }

.header-elements #list li a.active::before {
          font-size: 24px;
          transform: translate(calc(-100% - 15px), 20%);
        }

.header-elements #list li a:not(.active) {
        transition: background 0.3s, font-size 0.5s, filter 0.3s;
      }

.header-elements #list li a:not(.active):hover {
        background-position: top left;
        filter: drop-shadow(2px 2px 1px #00000040);
        }

.header-elements #list li a:not(.active):hover::before {
            transform: translate(calc(-100% - 10px), 8%);
          }

@keyframes bob-1 {
  0%, 3%, 97%, 100% {
    transform: translate(0, 6px);
  }
  
  35% {
    transform: translate(0, -6px);
  }
  
  65% {
    transform: translate(0, -6px);
  }
}

@keyframes bob-2 {
  0%, 6%, 94%, 100% {
    transform: translate(0, 6px);
  }
  
  38% {
    transform: translate(0, -6px);
  }
  
  62% {
    transform: translate(0, -6px);
  }
}

@keyframes bob-3 {
  0%, 9%, 91%, 100% {
    transform: translate(0, 6px);
  }
  
  41% {
    transform: translate(0, -6px);
  }
  
  59% {
    transform: translate(0, -6px);
  }
}

@keyframes bob-4 {
  0%, 12%, 88%, 100% {
    transform: translate(0, 6px);
  }
  
  44% {
    transform: translate(0, -6px);
  }
  
  56% {
    transform: translate(0, -6px);
  }
}

@keyframes bob-5 {
  0%, 15%, 85%, 100% {
    transform: translate(0, 6px);
  }
  
  47% {
    transform: translate(0, -6px);
  }
  
  53% {
    transform: translate(0, -6px);
  }
}

@keyframes bob-6 {
  0%, 18%, 82%, 100% {
    transform: translate(0, 6px);
  }
  
  50% {
    transform: translate(0, -6px);
  }
}

.popouts {
  animation: bob 8s infinite -4.5s cubic-bezier(0.45, 0, 0.55, 1);
  position: absolute;
  left: 50%;
  top: 50%;
}

.popout.about-me {
  z-index: 20;
  pointer-events: initial;
}

.popout.about-me a, 
  .popout.about-me p {
    user-select: initial;
  }

.popout {
  transition: opacity 0.3s, transform 0.4s, scale 0.5s;
  opacity: 0;
  width: 600px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #00000020;
  height: auto;
  margin: auto;
  background: white;
  display: block;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%) scale(0.9);
  display: flex;
  gap: 20px;
  overflow: visible;
}

.popout.visible {
    pointer-events: initial;
    z-index: 20;
    opacity: 1;
    transform: translate(-10%, -50%) scale(1);
    transition: opacity 0.4s, transform 0.5s, scale 0.5s;
  }

.popout .popup-list {
    display: flex;
    flex-direction: row;
  }

.popout .popup-list li {
      padding: 10px;
      background: var(--bg-color);
      color: var(--text-color, auto);
      border-radius: 20px;
      margin: 0px 5px;
      filter: drop-shadow(1px 1px 1px #00000040);
    }

.popout .popup-list li a {
        font-size: 12px;
      }

.cyplanner img {
  max-width: 237px;
}

img {
  max-height: 500px;
  max-width: 350px;
  user-select: none;
  border-radius: 10px;
}

.gallery img {
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  opacity: 1;
}

.gallery img:nth-child(2) {
    animation-delay: -6s;
  }

.gallery img:nth-child(3) {
    animation-delay: -3s;
  }

.gallery img:not(:first-child) {
    position: absolute;
    top: 25px;
    left: 25px;
  }

.visible .gallery img {
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  opacity: 1;
}

.visible .gallery img:nth-child(2) {
    animation-delay: -6s;
  }

.visible .gallery img:nth-child(3) {
    animation-delay: -3s;
  }

@keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  53% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bob {
  0%, 100% {
    transform: translate(0, 15px);
  }
  
  50% {
    transform: translate(0, -15px);
  }
}

.close {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 0;
  background: red;
  opacity: 0;
}

.close.panel-open {
    display: block;
  }

@media all and (min-width: 600px) and (min-aspect-ratio: 6/5)  {
  main .warning {
    display: none;
  }
}

.warning {
  display: grid;
  place-content: center;
  z-index: 50;
  position: fixed;
  background: red;
  inset: 0;
}

.warning > h1 {
    font-size: min(3vw, 28px);
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }

.warning > h1:not(.first){
      font-size: min(2.5vw, 24px);
      margin-top: 0px;
    }

.warning .text {
  width: min(calc(100vw), 800px);
  height: 100px;
  display: grid;
  place-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  }

.warning .text h1 {
      width: 100%;
      font-size: min(4vw, 32px);
      overflow: hidden;
      margin: auto;
      position: absolute;
      animation: textSlide 6s infinite cubic-bezier(0.37, 0, 0.63, 1);
    }

.warning .text h1:first-child {
        animation-delay: -4s;
      }

.warning .text h1:nth-child(2) {
        animation-delay: -3s;
      }

.warning .text h1:nth-child(3) {
        animation-delay: -2s;
      }

.warning .text h1:nth-child(4) {
        animation-delay: -1s;
      }

.warning .text h1:nth-child(5) {
        animation-delay: 0;
        font-size: min(3vw, 28px);
      }

.warning .text h1:nth-child(6) {
        animation-delay: -5s;
        font-size: min(3vw, 28px);
      }

@keyframes textSlide {
  0%, 100% {
    transform: translate(0, -120px);
    opacity: 0;
  }
  
  50% {
    transform: translate(0, 120px);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}

.panel-open h1.name{
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 28%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-size: 600% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 5s infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #000;
}

@keyframes shimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
