@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  margin: 0;
}

h1,
a,
p {
  font-family: 'Raleway';
  user-select: none;
}

.jp {
  font-family: 'Noto Sans Japanese';
}

li>a {
  font-size: 18px;
}

ul {
  list-style: none;
  display: grid;
  padding: 0;
  place-content: center;
}

.header {
  display: grid;
  background: #4285f4;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  place-content: center;
  transition: background 0.5s;
}

.header-elements {
  pointer-events: none;
  transition: transform 0.5s;
  display: grid;
  place-content: center;
  animation: bob 8s infinite cubic-bezier(0.45, 0, 0.55, 1);
  perspective: 1500px;
}

.header-elements .header-inner {
    transition: transform 0.5s, background 0.5s;
    pointer-events: initial;
    padding: 40px;
    border-radius: 35px;
  }

.header-elements.panel-open .header-inner {
      transform: translateX(-80%) rotateY(30deg);
    }

.header-elements:not(.panel-open) .header-inner {
      background: #ffffff30;
      padding: 40px;
    }

.header-elements:not(.panel-open) #list li a {
        transition: font-size 0.5s, background 0.3s;
        background-image: linear-gradient(to bottom right, white 49.5%, #00000000 50%);
        background-size: 200% 200%;
        background-position: bottom right;
        animation-fill-mode: forwards;
      }

.header-elements:not(.panel-open) #list li a::before {
          transition: font-size 0.5s, transform 0.2s, filter 0.2s;
        }

.header-elements:not(.panel-open) #list li a:hover {
          background-position: top left;
          transform: translateX(-10px);
          filter: drop-shadow(2px 2px 1px #00000040);
          font-weight: bold;
        }

.header-elements #list li {
    transition: transform 0.5s, filter 0.5s, background 0.2s;
    padding: 8px 15px;
    margin: 3px 0;
  }

.header-elements #list li #senior-design::before {
      content: "Senior Design";
    }

.header-elements #list li #cyplanner::before,
    .header-elements #list li #magic-tower::before {
      content: "Project";
    }

.header-elements #list li #ethics::before,
    .header-elements #list li #about-me::before {
      content: "Other";
    }

.header-elements #list li a::before {
      transition: transform 0.5s, font-size 0.5s;
      display: block;
      position: absolute;
      transform: translate(-100%, 8%);
      font-family: 'Raleway';
      user-select: none;
      font-size: 16px;
      font-weight: bold;
    }

.header-elements #list li a {
      transition: font-size 0.5s, filter 0.5s;
      padding: 8px 15px;
      border-radius: 50em;
      background-image: linear-gradient(to bottom right, white 49.5%, #00000000 50%);
      background-size: 200% 200%;
      background-position: bottom right;
      animation-fill-mode: forwards;
    }

.header-elements #list li a::before {
        transition: font-size 0.5s, filter 0.5s, transform 0.2s;
      }

.header-elements #list li a.active {
        filter: drop-shadow(2px 2px 1px #00000040);
        font-size: 32px;
        background: white;
        font-weight: bold;
      }

.header-elements #list li a.active::before {
          font-size: 24px;
          transform: translate(calc(-100% - 15px), 20%);
        }

.header-elements #list li a:not(.active) {
        transition: background 0.3s, font-size 0.5s;
      }

.header-elements #list li a:not(.active):hover {
        background-position: top left;
        filter: drop-shadow(2px 2px 1px #00000040);
      }

.header-elements #list li a:not(.active):hover::before {
            transform: translate(calc(-100% - 10px), 8%);
          }

.popouts {
  
}

.popout.about-me {
  z-index: 20;
  pointer-events: initial;
}

.popout.about-me a, 
  .popout.about-me p {
    user-select: initial;
  }

.popout {
  transition: opacity 0.3s, transform 0.4s, scale 0.5s;
  opacity: 0;
  width: 600px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #00000020;
  height: auto;
  margin: auto;
  background: white;
  display: block;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%) scale(0.9);
  display: flex;
  gap: 20px;
  overflow: visible;
}

.popout.visible {
    pointer-events: initial;
    z-index: 20;
    opacity: 1;
    transform: translate(-10%, -50%) scale(1);
    transition: opacity 0.4s, transform 0.5s, scale 0.5s;
  }

.cyplanner img {
  max-width: 237px;
}

img {
  max-height: 500px;
  max-width: 350px;
  user-select: none;
}

.gallery img:not(:first-child) {
  position: absolute;
  top: 25px;
  left: 25px;
}

.gallery img {
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  opacity: 1;
  border-radius: 10px;
}

.gallery img:nth-child(2) {
    animation-delay: -6s;
  }

.gallery img:nth-child(3) {
    animation-delay: -3s;
  }

.visible .gallery img {
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  opacity: 1;
}

.visible .gallery img:nth-child(2) {
    animation-delay: -6s;
  }

.visible .gallery img:nth-child(3) {
    animation-delay: -3s;
  }

@keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  53% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bob {
  0%, 100% {
    transform: translate(0, 15px);
  }
  
  50% {
    transform: translate(0, -15px);
  }
}

.close {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 0;
  background: red;
  opacity: 0;
}

.close.panel-open {
    display: block;
  }

@media all and (min-width: 800px) and (min-aspect-ratio: 8/5)  {
  main .warning {
    display: none;
  }
}

.warning {
  display: grid;
  place-content: center;
  z-index: 50;
  position: fixed;
  background: red;
  inset: 0;
}

.warning > h1 {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

.warning .text {
  width: min(100vw, 800px);
  height: 50px;
  display: grid;
  place-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  }

.warning .text h1 {
      width: 100%;
      font-size: 1.2rem;
      overflow: hidden;
      margin: auto;
      position: absolute;
      animation: textSlide 6s infinite cubic-bezier(0.37, 0, 0.63, 1);
    }

.warning .text h1:first-child {
        animation-delay: -4s;
      }

.warning .text h1:nth-child(2) {
        animation-delay: -3s;
      }

.warning .text h1:nth-child(3) {
        animation-delay: -2s;
      }

.warning .text h1:nth-child(4) {
        animation-delay: -1s;
      }

.warning .text h1:nth-child(5) {
        animation-delay: 0;
      }

.warning .text h1:nth-child(6) {
        animation-delay: -5s;
      }

.warning .text h1:nth-child(5) {
        font-size: 0.95rem;
      }

.warning .text h1:nth-child(6) {
        font-size: 1rem;
      }

@keyframes textSlide {
  0%, 100% {
    transform: translate(0, -60px);
    opacity: 0;
  }
  
  50% {
    transform: translate(0, 60px);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}

h1.name{
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 48%, rgba(255, 255, 255, 1) 50%, rgba(0, 212, 255, 0) 52%, rgba(0, 212, 255, 0) 90%);
  background-size: 600% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 5s infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #000;
}

@keyframes shimmer {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
